@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('libs/_bootstrap-reboot.min.scss');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
p {
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
    }

@import 'blocks/countryphone';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/hamburgermenu';
@import 'blocks/prengi';
@import 'blocks/modals';
@import 'blocks/advantages';
@import 'blocks/yourdata';
@import 'blocks/connection';