.prengi {
    min-height: 896px;
    &__top {
        display: flex;
        padding-top: 73px;
        gap: 31px;
        /* Обращаемся к дочерним элементам блока что бы задать им бэкграунд */
        .prengi__item:nth-child(1) {
            background-image: url('../img/prengi/kalendar.png');
            object-fit: cover;
        }
        .prengi__item:nth-child(2) {
            background-image: url('../img/prengi/shema.png');
            object-fit: cover;
        }
        .prengi__item:nth-child(3) {
            background-image: url('../img/prengi/lupa.png');
            object-fit: cover;
        }
    }
    &__item {
        text-align: center;
        width: 360px;
        height: 255px;
    }
    &__descr {
        padding-top: 176px;
        font-size: 18px;
        font-weight: 300;
        color: #393939;
    }
    &__arrow {
        text-align: center;
        padding-top: 50px;
    }
    &__text {
        padding-top: 33px;
        font-size: 48.1px;
        font-weight: 700;
        color: #393939;
    }
    &__bot {
        display: flex;
        padding-top: 37px;
        gap: 31px;
        /* Обращаемся к дочерним элементам блока что бы задать им бэкграунд */
        .prengi__item:nth-child(1) {
            background-image: url('../img/prengi/telephone.png');
            object-fit: cover;
        }
        .prengi__item:nth-child(2) {
            background-image: url('../img/prengi/castle.png');
            object-fit: cover;
        }
        .prengi__item:nth-child(3) {
            background-image: url('../img/prengi/oblako.png');
            object-fit: cover;
        }
    }
    &__bold {
        padding-top: 176px;
        font-size: 18px;
        font-weight: 700;
        color: #393939;
    }
    

    /* Мобильная адаптация */
    @media (max-width: 1200px) {
        .container {
            max-width: 960px;
        }
        &__item {
            background-size: cover;
            background-position: 50% 100%;
            border: 1px solid rgba(236,236,236, 0.5);
        }
    }
    @media (max-width: 992px) {
        .container {
            max-width: 720px;
        }
        &__descr {
            padding-top: 160px;
        }
        &__bold {
            padding-top: 160px;
        }
    }
    @media (max-width: 768px) {
        .container {
            max-width: 540px;
        }
        &__top {
            flex-direction: column;
            align-items: center;
        }
        &__bot {
            flex-direction: column;
            align-items:center;
            padding-bottom: 30px;
        }
    }
    @media (max-width: 576px) {
        .container {
            max-width: 100%;
            padding: 0 10px;
        }
        &__text {
            font-size: 40px;
        }
        &__item {
            width: 300px;
            height: 250px;
        }
    }
    
}