/* Слайдер хедера */
// Стиль слайдера
.slider {
    z-index: 0;
    .overlay { //для затемнения фона изображения
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.07); //через альфаканал задаём затемнение фона
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; // задаём индекс что бы основной конент отображался поверх затемнения
    }
    &__img {
        img {
            height: 700px;
            width: 100%;
            object-fit: cover;
        }
    }
    /* Стилизуем точки */
    .slick-dots {
        z-index: 0;
        margin: 0;
        bottom: unset;
        top: 85%;
        li {
            width: 10px;
            height: 10px;
            margin: 3px;
            button {
                width: 10px;
                height: 10px;
                /* Изменяем сами точки и задаём им стили */
                &::before { 
                    content :'' ;
                    border: 1px solid;
                    border-radius: 100%;
                    font-size: 30px;
                    color: white;
                    width: 11px;
                    height: 11px;
                    &:hover {
                        background-color:white;
                    }
                }
            }
        }
        /* Задаем бэкграунд активным точкам */
        .slick-active {
            width: 11px;
            height: 11px;
            margin: 3px;
            background-color: #fff;
            border-radius:100%;
        }
    }
    /* Стилизуем стрелки */
    &.prev {
        background-image: url('icons/slider/prevarrow.png');
        color: #fff;
        z-index: 1;
    }
    img.next.slick-arrow {
        position: absolute;
        top: 87.5%;
        left: 52.5%;
        z-index: 2;
        transform: translateY(-50%);
        &:hover {
            cursor: pointer;
        }
    }
    img.prev.slick-arrow {
        position: absolute;
        top: 87.5%;
        left: 47.3%;
        transform: translateY(-50%);
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }

}

/* Слайдер блока modal */
.modal__slider {
    top: 38.8%;
    left: 19.6%;
    position: absolute;
    width: 695.3px;
    height: 438px;
    img {
        object-fit: cover;
    }
    .prev.slick-arrow {
        position: absolute;
        left: -27%;
        top: 50%;
        z-index: 1;
    }
    .next.slick-arrow {
        position: absolute;
        right: -27%;
        top: 50%;
        z-index: 1;
    }
}
