.yourdata {
    margin-top: 80px;
/*     background: url('../img/yourdata/youtdatabackground.jpg') no-repeat center center / cover; */
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    &__blockleft {
        height: 580px;
        background: url('../img/yourdata/blockleft.jpg') no-repeat center center / cover;
        z-index: -2;
    }
    &__blockright {
        height: 580px;
        background: url('../img/yourdata/blockright.jpg') no-repeat center center / cover;
        z-index: -2;
    }
    &__logo {
        margin: 0 auto;
        width: 373px;
        height: 63px;
        position: absolute;
        text-align: center;
        padding-top: 79px;
        left: 42.3%;
        font-size: 30px;
        font-weight: 900;
        color: #ffffff;
    }
    &__descrleft {
        position: relative;
        text-align: right;
        padding-top: 270px;
        padding-right: 82px;
        &::before {
            content : " ";
            top: 63.1%;
            left: 83.3%;
            position: absolute;
            background-color: rgba($color: #00c2f0, $alpha: 0.3);
            width: 167px;
            height: 167px;
            z-index: -1;
        }
    }
    &__header {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__descr {
        padding-top: 10px;
        font-size: 18px;
        font-weight: 300;
        color: #ffffff;
    }
    &__descrright {
        padding-left: 83px;
        position: relative;
        text-align: left;
        padding-top: 270px;
        &::before {
            content : " ";
            top: 63.1%;
            left: 4.3%;
            position: absolute;
            background-color: rgba($color: #00c2f0, $alpha: 0.3);
            width: 167px;
            height: 167px;
            z-index: -1;
        }
    }

    /* Мобильная адаптация */

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    &__logo {
        left: 32.3%;
    }
    &__header {
        font-size: 25px;
    }
    &__descrleft {
        &::before {
            left: 62.3%;
        }
    }
    &__blockright {
        &::before {
            left: 5.9%;
        }
    }
    &__descr {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    &__logo {
        font-size: 27px;
        left: 26.8%;
    }
    &__header {
        font-size: 20px;
    }
    &__descr {
        font-size: 12px;
    }
    &__descrleft {
        padding-right: 50px;
        &::before {
            left: 64.9%;
            top: 72.8%;
            width: 107px;
            height: 107px;
        }
    }
    &__descrright {
        padding-left: 50px;
        &::before {
            left: 8.7%;
            top: 72.2%;
            width: 107px;
            height: 107px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    &__logo {
        left: 19.1%;
    }
    &__header {
        font-size: 18px;
    }
    &__descr {
        br {
            display: none;
        }
    }
    &__descrleft {
        padding-right: 30px;
        &::before {
            left: 57.9%;
        }
    }
    &__descrright {
        padding-left: 30px;
        &::before {
            left: 6.8%;
            top: 72.4%;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    margin-top: 40px;

    &__wrapper {
        grid-template-columns: repeat(2 , auto);
    }

    &__logo {
        width: 100%;
        font-size: 18px;
        left: 1.1%;
        padding-top: 60px;
    }
    &__blockleft {
        height: 380px;
    }
    &__blockright {
        height: 380px;
    }
    &__descrleft {
        padding-top: 140px;
        text-align: center;
        padding-right: 0;
        &::before {
            display: none;
        }
    }
    &__descrright {
        padding-top: 140px;
        padding-left: 0;
        text-align: center;
        &::before {
            display: none;
        }
    }
}

}

